*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    height: 3.4rem;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right, black, #011017, #012734);
    border: none;
    color: white;

}
.h1{
color: white;
border: none;
text-decoration: none;
letter-spacing: 0.3rem;
}
nav div a{
    text-decoration: none;
    color: white;
    margin-right: 1rem;
    transition: 1s;
}
nav div a:hover{
    color: green;
}

.containerInicial{
    height: 80vh;
    background-image: linear-gradient(to right, black, #011017, #012734 );
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.separation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50rem;
}
.separation .texts p{
    font-size: 2rem;
}

.image{
    background-color: whitesmoke;
    border-radius: 100%;
    padding: 2rem;
    border: 3px solid black;
}

.secondSection {
    text-align: center ;
    margin-top: 20px;
}
.secondSection span{
    font-size: 2rem;

}

.informations{
    display: flex;
    max-width: 50rem;
    margin: 0 auto;
    margin-top: 2rem;
}
.informations i{
    font-size: 2rem;
    margin-right: 1rem;
    transition: 1s;
}
.informations i:hover{
    color: green;
}
.footer{
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
    color: #fff;
}

.footer span{
    font-weight: bold;
    color: #61dafb;
}

.button{
    display: flex;
    justify-content: center;
}
.button button{
    border: none;
    background-image: linear-gradient( to right, black, #011017, #012734 );
    padding: 1rem;
    margin-bottom: 2rem;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    color: white;
    transition: 1s;
}
.button button:hover{
    transform: scale(1.2);
}
.carrosel{
    height: 20px;
}
h1, h3{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 50em;
    margin-bottom:70px;
}
form input{
        width:100%;
        height: 6.6em;
        border: none;
        border-bottom: 1px solid white;
        padding: 1px;
        margin-bottom: 1em;
        color: white;
    
}
form textarea{
    width:100%;
    border: none;
    border-bottom: 1px solid white;
    height: 10em;
}
form button{
    width: 100%;
    height: 4em;
    margin-top: 2em;
    background-color: #00ACCC;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.articleForm{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, black, #011017, #012734  );
    padding-top: 2rem;
}

@media screen and (max-width: 670px) {
    .separation{
        display: flex;
        flex-direction: column;
    }
    form{
        width: 20rem;
    }
    .articleFull{
        height: 80vh;
    }
    nav div a{
        text-decoration: none;
        color: white;
        margin-right: 1rem;
        transition: 1s;
        font-size: 0.6rem;
    }
}